
<%- include('./base.ejs', { 
    title: 'Loan Application Confirmed', 
    email: `${email}`,
    content: `
        <p>Dear ${name},</p>
        <p style="margin: 10px 0px;">
          We have confirmed and activated your loan application for <strong>$${amount}</strong>. 
        </p>
        <p style="margin-top: 10px;">Sincerely,<br>The BlueLedge Team</p>
    `
}) %>
