<%- include('./base.ejs', { 
    title: 'Welcome to BlueLedge', 
    email: `${email}`,
    content: `
        <p>Hi ${name},</p>
        <p style="margin: 10px 0px;">
          You just requested for a new password. Your otp:
        </p>
        <p style="margin-top: 15px; font-weight: 700; font-size: 24px; text-align: center;">${otp}</p>
        <p style="margin: 10px 0;">It only lasts for 5 minutes</p>
        <p >The BlueLedge Team.</p>    
    `
}) %>