<%- include('./base.ejs', { 
    title: 'Password Reset Request', 
    email: `${email}`,
    content: `
        <p>Dear ${name},</p>
        <p style="margin: 10px 0px;">
          You have requested a password reset for your BlueLedge account. Please use the following one-time password (OTP) to proceed:
        </p>
        <p style="margin: 15px 0; font-weight: 700; font-size: 24px; text-align: center;">${otp}</p>
        <p style="margin: 10px 0;">This OTP is valid for 5 minutes only.</p>
        <p style="margin-top: 10px;">Sincerely,<br>The BlueLedge Team</p>
    `
}) %>
