
<%- include('./base.ejs', { 
    title: 'Loan Application Received', 
    email: `${email}`,
    content: `
        <p>Dear ${name},</p>
        <p style="margin: 10px 0px;">
          We have received your loan application for <strong>$${amount}</strong>. 
        </p>
        <p>Your application is under review. If approved, the loan amount will be credited to your wallet address. If rejected, any cash collateral will be refunded to your wallet.</p>
        <p style="margin-top: 10px;">Sincerely,<br>The BlueLedge Team</p>
    `
}) %>
