
<%- include('./base.ejs', { 
    title: 'Investment Created', 
    email: `${email}`,
    content: `
        <p>Dear ${name},</p>
        <p style="margin: 10px 0px;">
          You have successfully created a new investment of <strong>$${amount}</strong> in <strong>${investmentType}</strong>.
        </p>
        <p>Your investment is under review and will be activated upon approval.</p>
        <p style="margin-top: 10px;">Sincerely,<br>The BlueLedge Team</p>
    `
}) %>
