<%- include('./base.ejs', { 
    title: 'Welcome to BlueLedge', 
    email: `${email}`,
    content: `
        <p>Hi ${name},</p>
        <p style="margin: 10px 0px;">You have successfully reset your password.</p>
        <p >The BlueLedge Team.</p>    
    `
}) %>