<%- include('./base.ejs', { 
    title: 'Welcome to Blueledge', 
    email: `${email}`,
    content: `
        <p>Hello Dear,</p>
        <p style="margin: 10px 0px;">
        You just subscribed to our newsletter. Get the latest news on stocks, mutual funds and crypto.
        </p>
        <p >The BlueLedge Team.</p>    
    `
}) %>