<%- include('./base.ejs', { 
    title: 'Newsletter Subscription Confirmed', 
    email: `${email}`,
    content: `
        <p>Dear Subscriber,</p>
        <p style="margin: 10px 0px;">
          Thank you for subscribing to the BlueLedge Asset Partners newsletter. Stay informed with the latest updates on stocks, mutual funds, and cryptocurrencies.
        </p>
        <p style="margin-top: 10px;">Sincerely,<br>The BlueLedge Team</p>
    `
}) %>
