<%- include('./base.ejs', { 
    title: 'Welcome to BlueLedge', 
    email: `${email}`,
    content: `
        <p>Hi ${name},</p>
        <p style="margin: 10px 0px;">
          Welcome to Beacon! We are thrilled to have you on board. Invest and grow with us.
        <p >The BlueLedge Team.</p>    
    `
}) %>