<%- include('./base.ejs', { 
    title: 'Welcome to BlueLedge', 
    email: `${email}`,
    content: `
        <p>Dear ${name},</p>
        <p style="margin: 10px 0px;">
          Welcome to BlueLedge Asset Partners! We are delighted to have you join our community of investors.
        </p>
        <p>Your account is under review and will be activated shortly. Once activated, you can begin investing and exploring our financial opportunities.</p>
        <p style="margin-top: 10px;">Sincerely,<br>The BlueLedge Team</p>
    `
}) %>